<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.remote.remotecontrol"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.RemoteControl">
        <activity android:name=".activity.ble.LeSttActivity"></activity>
        <activity android:name=".activity.add.IrTestActivity" />
        <activity android:name=".activity.add.AddDeviceInfoActivity" />
        <activity android:name=".activity.add.AddDeviceActivity" />
        <activity android:name=".activity.add.SearchDeviceActivity" />
        <activity android:name=".activity.info.DeviceEditInfoActivity" />
        <activity android:name=".activity.info.DeviceInfoActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>